name: build-and-test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: lint-code-base
        uses: docker://github/super-linter:v5.0.0@sha256:2119e8534e9a9e86a18bc5ae398b59c80c1906640a9c8537308a58fe111f07a9
        env:
          VALIDATE_KUBERNETES_KUBEVAL: false
      - name: docker-compose-validate
        run: docker-compose config
      - name: docker-compose-build-and-start
        run: docker-compose up -d
      - name: run-sleep-before-testing
        run: sleep 30s
      - name: test-prometheus
        run: |
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:9081/-/ready
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:9082/-/ready
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:9083/-/ready
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:9084/-/ready
      - name: test-thanos
        run: |
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:10901/-/ready
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:10902/-/ready
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:10903/-/ready
          timeout 30s curl -fisS --retry 10 \
            --retry-connrefused http://localhost:10904/-/ready
      - name: test-alertmanager
        run: timeout 30s curl -fisS --retry 10 \
          --retry-connrefused http://localhost:9093/-/ready
      - name: test-grafana
        run: timeout 30s curl -fisS --retry 10 \
          --retry-connrefused http://localhost:3000/api/health
      - name: test-cadvisor
        run: timeout 30s curl -fisS --retry 10 \
          --retry-connrefused http://localhost:8080/healthz
      - name: test-node-exporter
        run: timeout 30s curl -fisS --retry 10 \
          --retry-connrefused http://localhost:9100/metrics > /dev/null
      - name: test-minio
        run: timeout 30s curl -fisS --retry 10 \
          --retry-connrefused http://localhost:9000/minio/health/ready
      - name: paranoid-test
        run: |
          docker-compose ps --all
          numberOfExpectedRunningContainers=$(docker-compose ps --all | tail -n +3 | wc -l)
          numberOfActualRunningContainers=$(docker-compose ps | grep -c " Up ")
          if [ "$numberOfExpectedRunningContainers" != "$numberOfActualRunningContainers" ]; then exit 1; fi
